<div class="row">
	<div class="col-md-12">
	    <mk-box header="Lead Info Overview" boxColor="green" [isRemovable]="false">
		  	<div class="row">
	     		<div class="col-md-12">
		        	<dl class="col-md-6">
			        	<div class="row">
			        		<dt class="col-md-4">Lead Owner</dt>
				        	<dd class="col-md-8">Kimberly Itwari</dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Email</dt>
				        	<dd class="col-md-8">jonard_talamayan@yahoo.com</dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Phone</dt>
				        	<dd class="col-md-8">647-688-1721</dd>
			        	</div>
			        	<hr />
				    </dl>
			        <dl class="col-md-6">
			        	<div class="row">
				        	<div class="col-md-12">No more best time for Today</div>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<div class="col-md-12">
				        		<a href="/try">Try Tomorrow</a>
				        	</div>
			        	</div>
			        	<hr />
			      	</dl>
		    	</div>
		    </div>
		</mk-box>
	    <!-- /.box -->
	</div>
	<div class="col-md-12">
		<mk-tabs tabsColor="green">
	      <mk-tab header="Lead Information">
	        <div class="row">
	    		<div class="col-md-12">
			        <dl class="col-md-6">
			        	<div class="row">
				        	<dt class="col-md-4">Location</dt>
				        	<dd class="col-md-8"></dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Representative</dt>
				        	<dd class="col-md-8"></dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Lead Name</dt>
				        	<dd class="col-md-8">Jonard Talamayan</dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Phone</dt>
				        	<dd class="col-md-8">647-688-1721</dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Mobile</dt>
				        	<dd class="col-md-8"></dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Best Time to Call</dt>
				        	<dd class="col-md-8">Anytime</dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Email</dt>
				        	<dd class="col-md-8">jonard_talamayan@yahoo.com</dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Lead Source</dt>
				        	<dd class="col-md-8">Website(WEB)</dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Status</dt>
				        	<dd class="col-md-8">Unable to reach lead</dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Follow-up Date & Time</dt>
				        	<dd class="col-md-8"></dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Note</dt>
				        	<dd class="col-md-8"></dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Modified By</dt>
				        	<dd class="col-md-8">
				        		Kimberly Itwarie
										<small>(Thu, 5 Apr 2018 12:22 PM)</small>
				        	</dd>
			        	</div>
			        	<hr />
		          	</dl>
			        <dl class="col-md-6">
			        	<div class="row">
				        	<dt class="col-md-4">Amount of Debt</dt>
				        	<dd class="col-md-8">CA$ 20,000.00</dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">How did you hear about us</dt>
				        	<dd class="col-md-8">Homepage</dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Additional Information</dt>
				        	<dd class="col-md-8">test</dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Lead Owner</dt>
				        	<dd class="col-md-8">Kimberly Itwarie </dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Created By</dt>
				        	<dd class="col-md-8">
				        		Kimberly Itwarie
								<small>(Thu, 5 Apr 2018 12:22 PM)</small>
				        	</dd>
			        	</div>
			        	<hr />
		          	</dl>
	    		</div>
	    	</div>
	      </mk-tab>
	      <mk-tab header="Text Header 2">
	        The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages.
	      </mk-tab>
	      <mk-tab header="Text Header 2">
	        <div class="row">
	          	<div class="col-md-12">
			        <dl class="col-md-6">
			        	<div class="row">
				        	<dt class="col-md-4">Day Visited</dt>
				        	<dd class="col-md-8"></dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Number of Chats</dt>
				        	<dd class="col-md-8"></dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">First Visit</dt>
				        	<dd class="col-md-8"></dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Referrer</dt>
				        	<dd class="col-md-8"></dd>
			        	</div>
			        	<hr />
			       	</dl>
			        <dl class="col-md-6">
			        	<div class="row">
				        	<dt class="col-md-4">Average Time Spent (Minutes)</dt>
				        	<dd class="col-md-8"></dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">most Recent Visit</dt>
				        	<dd class="col-md-8"></dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">First Page Visited</dt>
				        	<dd class="col-md-8"></dd>
			        	</div>
			        	<hr />
			        	<div class="row">
				        	<dt class="col-md-4">Visitor Score</dt>
				        	<dd class="col-md-8"></dd>
			        	</div>
			        	<hr />
		          	</dl>
        		</div>
	        </div>
	      </mk-tab>
	      <mk-tab header="Notes">
	        The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages.
	      </mk-tab>
	      <mk-tab header="Visit Summary">
	        No Attachment
	      </mk-tab>
	      <mk-tab header="Notes">
	        No Records Found
	      </mk-tab>
	      <mk-tab header="Attachments">
	        No Records Found
	      </mk-tab>
	      <mk-tab header="Open Activities">
	        No Records Found
	      </mk-tab>
	      <mk-tab header="Closed Activities">
	        No Records Found
	      </mk-tab>
	      <mk-tab header="Emails">
	        No Records Found
	      </mk-tab>
	      <mk-tab header="Campaigns">
	        No Records Found
	      </mk-tab>
	      <mk-tab header="Social">
	        No Records Found
	      </mk-tab>
	    </mk-tabs>
	</div>
</div>